/*Stylesheet*/

title{
    background-color: #993499;
}

body{
    background-color: #FDE9FD;
    font-family: "Century Gothic", sans-serif;
}

h2{
    font-size: 20px;
    letter-spacing: 5px;
    word-spacing: 3px;
}

.year{
    float: right;
    font-style: italic;
}
.job-title{
    font-weight: bold;
}
.organisation{
    color: #179ca0;
    font-weight: bold;
    font-style: italic;
 }

 .icons{
    font-size: 25px;
    display: flex;
 }
 
 .icons a{
    margin: auto;
    margin-left: 15px;
    text-decoration: none;
 }

 .fa-solid.fa-envelope{
    color: #be73e3;
 }

 .fa-brands.fa-github{
    color: #4e17a0;
 }

 .fa-brands.fa-linkedin{
    color: #0948b3;
 }

 .fa-solid.fa-envelope:hover,
 .fa-brands.fa-github:hover,
 .fa-brands.fa-linkedin:hover{
    color: #8f88a8;
 }

 .cv_header{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e2c5e2;
 }

