/*Stylesheet*/

body{
   background-color: rgb(231, 218, 218);
   font-family: "Century Gothic", sans-serif;
   margin: 15px;
   padding: 20px;
}
.cv_header{
   display: flex;
   justify-content: space-between;
   font-size: 35px;
   padding: 10px;
   margin-right: 20px;
 }


.icons a{
   font-size: 30px;
   text-decoration: none;
}

.main{
   display:flex;
   margin: 15px;

}

a{
   color: green;
}

.left-section{
   background-color: white;
   padding: 20px;
   margin: 20px;
   display: flex;
   flex-direction: column;
}

.object{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: white;
   margin: 20px;
}



h2{
   font-size: 20px;
   letter-spacing: 5px;
   word-spacing: 3px;
}


.year{
   display: flex;
   justify-content: flex-end;
}

.job-title{
   font-weight: bold;
 }
 .job-info{
   display: flex;
   justify-content: space-between;
 }
 .year{
   font-style: italic;
 }

 .year, 
 .organisation{
   font-style: italic;
 }

.organisation{
    color: #179ca0;
 }

 .fa-solid.fa-envelope{
    color: #be73e3;
 }

 .fa-brands.fa-github{
    color: #4e17a0;
 }

 .fa-brands.fa-linkedin{
    color: #0948b3;
 }

 .fa-solid.fa-envelope:hover,
 .fa-brands.fa-github:hover,
 .fa-brands.fa-linkedin:hover, 
 .organisation:hover a{
    color: #8f88a8;
 }





