/*Stylesheet*/

body{
   background-color: rgb(231, 218, 218);
   margin: 0rem;
   line-height: 1.75;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content{
   display: flex;
   flex-direction: column;
   padding: 3rem;
}

.main-navigator{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   width: 100%;
   height: 3rem;
   background-color:rgb(196, 196, 188);
}


nav ul{
   display: flex;
   gap: 1rem;
   list-style-type: none;
   padding-inline-start: 1rem;
   padding-inline-end: 1rem;
}

nav a{
   text-decoration: none;
   color: #666;
}

nav a:hover{
   color: #c3a0a0;
}


.cv_header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 2rem;
 }

.icons{
   display: flex; 
   flex-wrap: wrap;
   list-style: none;
   gap: 0.5rem;
   align-items: center;
   font-size: 1.4rem;
}

.main{
   display: flex;
   justify-content: space-between;
   gap: 1rem;
}
.main a{
   color: green;
}

.left-section, 
.right-section{
   display: flex;
   flex-direction: column;
}

.right-section{
   gap: 1rem;
}

.object{
   background-color: white;
   padding-left: 1rem;
   padding-right: 1rem;
}



.year{
   display: flex;
   justify-content: flex-end;
}

.job-title{
   font-weight: bold;
 }
 .job-info{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 .year{
   font-style: italic;
 }

 .year, 
 .organisation{
   font-style: italic;
   display: inline;
 }

.organisation{
    color: #179ca0;
 }

 .fa-solid.fa-envelope{
    color: #be73e3;
 }

 .fa-brands.fa-github{
    color: #4e17a0;
 }

 .fa-brands.fa-linkedin{
    color: #0948b3;
 }

 .fa-solid:hover,
 .fa-brands:hover,
 .organisation:hover a{
    color: #8f88a8;
 }


.fa-circle-question:hover .tooltip{
   visibility: visible;
   background-color: #f9f7f7;
   color: #0c0808;
   padding: 5px;
   border-radius: 5px;
   font-size: 0.8rem;
   translate: 0% -100%;
}

.tooltip{
   position: absolute;
   visibility: hidden;
   width: fit-content;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



